# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Database
*.db
*.sqlite3
data/

# Secrets
service_account.json
client_secrets.json

# OS
.DS_Store
